<header>
  <div class="botoes-esquerda">
    <button class="voltar hamburguer-botoes" [class.aberto]="exibeHamburguerBotoesMobile" title="VOLTAR"  (click)="mostrarConfirmacaoSairTela($event, 'Tem certeza que deseja voltar para a tela de temas?', '/contextos')"><i class="fa-solid fa-arrow-left"></i></button>
    <a class="hamburguer-botoes alfabeto-link" [class.aberto]="exibeHamburguerBotoesMobile" title="VOLTAR PARA O INÍCIO" (click)="mostrarConfirmacaoSairTela($event, 'Tem certeza que deseja voltar para a tela inicial?', '/')"><img src="/beto_logo.png" alt="Logo AlfaBeto" class="alfabeto"></a>
  </div>
  <h2 id="tema">{{ temaAtual.toUpperCase() }}</h2>
  <a class="hamburguer-botoes a4s-link" [class.aberto]="exibeHamburguerBotoesMobile" title="Apps4Society" target="_blank" (click)="mostrarConfirmacaoSairTela($event, 'Tem certeza que deseja ir para o site do A4S?', 'https://apps4society.dcx.ufpb.br/alfabeto/')"><img src="/logotipofinal.png" class="a4s" alt="apps4society"></a>
  <div class="hamburguer">
    <i class="fa-solid fa-bars" (click)="exibirOcultarBotoes()"></i>
  </div>
</header>
<main>
  <div class="flex-container">
    @if (exibeFeedback()) {
    <div class="feedback">
      <p id="feedback">{{feedbackMensagem}}</p>
    </div>
    }
    <div class="container">
      <img [src]="imagemAtual()" (error)="imagemErro($event)" id="imagem-jogo" alt="Imagem do jogo">
      <p id="palavra" class="fonteDaLetra">{{palavraAtual.join(" ").toUpperCase()}}</p>
    </div>
    <div class="teclado">
      @if (mostrarAlfabeto) {
      <div id="alfabeto">
        <table>
          <tr>
            @for (letra of ['A','B','C','D','E','F','G','H','I']; track letra) {
            <td>
              <button
                class="fonteDaLetra"
                [disabled]="letrasClicadas[letra] || botoesDesabilitados"
                (click)="letraClicada(letra)"
                [ngClass]="{
                  'acerto': letrasClicadas[letra] === 'acerto',
                  'erro': letrasClicadas[letra] === 'erro'
                }">
                {{letra}}
              </button>
            </td>
            }
          </tr>
          <tr>
            @for (letra of ['J','K','L','M','N','O','P','Q','R']; track letra) {
            <td>
              <button
                class="fonteDaLetra"
                [disabled]="letrasClicadas[letra] || botoesDesabilitados"
                (click)="letraClicada(letra)"
                [ngClass]="{
                  'acerto': letrasClicadas[letra] === 'acerto',
                  'erro': letrasClicadas[letra] === 'erro'
                }">
                {{letra}}
              </button>
            </td>
            }
          </tr>
          <tr>
            @for (letra of ['S','T','U','V','W','X','Y','Z']; track letra) {
            <td>
              <button
                class="fonteDaLetra"
                [disabled]="letrasClicadas[letra] || botoesDesabilitados"
                (click)="letraClicada(letra)"
                [ngClass]="{
                  'acerto': letrasClicadas[letra] === 'acerto',
                  'erro': letrasClicadas[letra] === 'erro'
                }">
                {{letra}}
              </button>
            </td>
            }
          </tr>
        </table>
      </div>
      }
      @if (mostrarVogais) {
      <div>
        <table>
          <tr>
            @for (letra of ['A','E','I','O','U']; track letra) {
            <td>
              <button
                class="fonteDaLetra"
                [disabled]="letrasClicadas[letra] || botoesDesabilitados"
                (click)="letraClicada(letra)"
                [ngClass]="{
                  'acerto': letrasClicadas[letra] === 'acerto',
                  'erro': letrasClicadas[letra] === 'erro'
                }">
                {{letra}}
              </button>
            </td>
            }
          </tr>
        </table>
      </div>
      }
      @if (mostrarConsoantes) {
      <div id="consoantes">
        <table>
          <tr>
            @for (letra of ['B','C','D','F','G','H','J']; track letra) {
            <td>
              <button
                class="fonteDaLetra"
                [disabled]="letrasClicadas[letra] || botoesDesabilitados"
                (click)="letraClicada(letra)"
                [ngClass]="{
                  'acerto': letrasClicadas[letra] === 'acerto',
                  'erro': letrasClicadas[letra] === 'erro'
                }">
                {{letra}}
              </button>
            </td>
            }
          </tr>
          <tr>
            @for (letra of ['K','L','M','N','P','Q','R']; track letra) {
            <td>
              <button
                class="fonteDaLetra"
                [disabled]="letrasClicadas[letra] || botoesDesabilitados"
                (click)="letraClicada(letra)"
                [ngClass]="{
                  'acerto': letrasClicadas[letra] === 'acerto',
                  'erro': letrasClicadas[letra] === 'erro'
                }">
                {{letra}}
              </button>
            </td>
            }
          </tr>
          <tr>
            @for (letra of ['S','T','V','W','X','Y','Z']; track letra) {
            <td>
              <button
                class="fonteDaLetra"
                [disabled]="letrasClicadas[letra] || botoesDesabilitados"
                (click)="letraClicada(letra)"
                [ngClass]="{
                  'acerto': letrasClicadas[letra] === 'acerto',
                  'erro': letrasClicadas[letra] === 'erro'
                }">
                {{letra}}
              </button>
            </td>
            }
          </tr>
        </table>
      </div>
      }
    </div>
    @if (exibeCaixaNome()) {
    <div class="recuperar-nome">
      <p id="pontuacao-jogador">Sua pontuação: {{pontuacao}}</p><br>
      <form [formGroup]="pontuacaoForm" (ngSubmit)="onSubmit()">
        <label for="nomeJogador">Digite seu nome:</label><br>
        <input type="text" id="nomeJogador" formControlName="nomeJogador" placeholder="Ex.: Gabriela"><br>
        @if (pontuacaoForm.get('nomeJogador')?.invalid && pontuacaoForm.get('nomeJogador')?.touched) {
        <span>
          Por favor, insira um nome<br>
          antes de confirmar.
        </span>
        }
        <div class="confirmar">
          <button class="confirmar-nome" type="submit" [disabled]="!pontuacaoForm.valid">CONFIRMAR</button>
        </div>
      </form>
    </div>
    }
    @if (exibeConfirmacaoSairTela) {
    <div class="confirmacao-sair-tela" >
      <p id="texto-confirmacao">{{textoMostrarConfirmacaoSairTela}}</p>
      <button class="confirmar-saida" (click)="redirecionar()">CONFIRMAR</button>
      <button class="cancelar" (click)="esconderConfirmacaoSairTela()">CANCELAR</button>
    </div>
    }
  </div>
</main>
