:host {
  text-align: center;
}

.tabela {
  margin-top: 20px;
  width: 100%;
  font-size: 1.5rem;
}

.voltar{
  position: absolute;
  margin-right: auto;
}

th {
  background-color: rgba(179, 176, 176, 0.5);
}

td {
  padding: 30px;
}

.zerar-ranking{
  font-size: 1rem;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
  background-color:rgba(179, 176, 176, 0.5);
  box-shadow: 4px 4px 4px rgb(67, 66, 66);
  color: white;
  padding: .5rem;
  border: 2px solid white;
  border-radius: 15px;
}

.zerar-ranking:hover{
  background-color: rgb(255, 255, 255);
  transform: scale(1.02);
  color:  rgb(8, 165, 134);
}

.mensagem-sucesso {
  position: fixed;
  top: 30px;
  right: 25px;
  padding: 15px;
  background-color: #2b910f;
  color: white;
  border-radius: 10px;
  display: block;
  box-shadow: 0px 2px 2px rgba(67, 66, 66);
}

.mensagem-sucesso p {
  font-size: .8rem;
}

.confirmacao-zerar-ranking {
  width: 300px;
  text-align: center;
  background-color: rgb(5, 127, 102);
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1rem;
  font-weight: 600;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.confirmacao-zerar-ranking button {
  margin: 1rem 1rem;
  border: 1px solid;
  padding: .50rem;
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
}

.confirmar {
  background-color: rgb(43, 145, 15);
}

.cancelar {
  background-color: rgb(209, 11, 11);
}

.confirmar:hover, .cancelar:hover {
  transform: scale(1.1);
}


@media (max-width: 1024px) {
  td{
    padding-bottom: 120px;
  }
}
@media (max-width: 770px) {
  .tabela {
    font-size: 30px;
  }

  td{
    padding-bottom: 70px;
  }
}

@media (max-width: 700px) {
  .tabela {
    font-size: 22px;
  }    

  .confirmacao-zerar-ranking {
    padding: 0.60rem;
    font-size: 1rem;
    width: 260px;
  }
    
  .confirmacao-zerar-ranking button {
    margin: 0.70rem 0.50rem;
    font-size: 0.8rem;
    padding: .40rem;
  }

  .mensagem-sucesso {
    top: 45px;
    right: 15px;
    padding: 12px;
  }
    
  .mensagem-sucesso p {
    font-size: .6rem;
  }
}

@media (max-width: 540px) {
  .tabela {
    font-size: 1rem;
  }    
  .voltar{
    width: 35px;
    height: 35px;
    font-size: 25px;
  }
  .zerar-ranking{
    font-size: .7rem;
  }

  td{
    padding-bottom: 50px;
  }  
}

@media (max-width: 380px) {
  .tabela {
    font-size: .8rem;
  }    
  td{
    padding-bottom: 45px;
  }
}
